{% extends "layout.html" %}
{% block content %}
  <section class="main" id="main">
  <h2>Welcome to Weather APP </h2>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <form method="post" class="col-md">
      {% csrf_token %}
        <div class=" input-group">
          <input type="text" class="form-control" name="city" placeholder="Choose Your City ...">
          <div class="input-group-btn">
              <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      <form>
    </nav>
    <br> <br>
    <div class="row">
      {% if country_code and coordinate and temp and pressure and humidity %}
      <div class="col d-flex justify-content-center">
          <div class=" card text-black bg-light mb-6">
                  <div class=" card-body">
                    <h4><span class="badge badge-primary"style="background-color:black">Country Code :</span> {{country_code}}</h4>
                    <h4><span class="badge badge-primary"style="background-color:black">Coordinates [X,Y] :</span> {{coordinate}}</h4>
                    <h4><span class="badge badge-primary"style="background-color:black">Temperature in Celsius :</span> {{temp}}</h4>
                    <h4><span class="badge badge-primary"style="background-color:black">Pressure :</span> {{pressure}} </h4>
                    <h4><span class="badge badge-primary"style="background-color:black">Humidity :</span> {{humidity}}</h4>
                    <h4><span class="badge badge-primary"style="background-color:black">Forecast :</span> {{main}} <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4>
                    <h4><span class="badge badge-primary"style="background-color:black">Description : </span> {{description}}</h4>
                  </div>
                </div>
              </div>
           {% endif %}
          </div>
        </section>
{% endblock %}